.section-browse {
    height: 80vh;
    position: relative; 
    @include media('<=tablet') {
        margin-top: 60%;
    }
    @include media('<=phone') {
        margin-bottom: 170%;
    }

    &-wrapper {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include media('<=phone') {
            margin-top: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                font-family: $lato;
                font-size: 20px;
                font-weight: lighter;
                color: $yellow;
            }
            h1 {
                font-family: $sans;
                font-weight: bold;
                color: #2C3722;
                font-size: 40px;
                margin-top: 18px;
                @include media('<=phone') {
                    width: 300px;
                    font-size: 30px;
                    margin-left: 20px;
                }
            }
        }
        &__subtitle {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 60%;
            @include media('<=phone') {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &__list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 200px;
                width: 200px;
                margin-top: 60px;
                @include media('<=tablet') {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 67%;
                    left: 5%;
                }
                @include media('<=phone') {
                    height: 30%;
                    width: 100%;
                }
                span {
                    height: 240px;
                    width: 2px;
                    background-color: #EBEBEB;
                    margin-left: 7px;
                    margin-top: 20px;

                    @include media('<=phone') {
                        display: none;
                    }
                }
                .line {
                    background: url('../img/line.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 2px;
                    height: 70px;
                    z-index: 1000;
                    position: absolute;
                    top: 39%;
                    left: 5%;
                    @include media('<=tablet') {
                        top: -15%;
                        left: 3%;
                    }
                    @include media('<=phone') {
                        display: none;
                    }
                }
               
                ul {
                    margin-right: 90px;
                    margin-top: 15px;
                    @include media('<=phone') {
                        display: none;
                    }
                    li {
                        margin-bottom: 28px;
                        
                        h1 {
                            color: #979797;
                            font-family: $poppins;
                            font-size: 17px;
                            @include media('<=phone') {
                                display: none;
                            }
                        }
                        p {
                            color: $yellow;
                            font-family: $poppins;
                            font-size: 17px;
                            cursor: pointer;
                            @include media('<=phone') {
                                display: none;
                            }
                        } 
                    }
                }
            }
            &__cards {
                width: 60%;
                height: 80%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 30px;
                @include media('<=tablet') {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 80%;
                    height: 100vh;
                    margin-top: 500px;
                    margin-left: 50px;
                }
                @include media('<=phone') {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: -40%;
                    margin-right: 50px;
                }
                .card {
                    width: 250px;
                    height: 300px;
                    box-shadow: 0 3px 6px 0 rgba($color: #3D3636, $alpha: 0.35);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        box-shadow: 1px 4px 12px 0 rgba($color: #3D3636, $alpha: 0.75);
                    }
                    .card-image {
                        background: url('../img/chicken.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 150px;
                        height: 150px;
                        margin: 0 auto;
                        margin-bottom: 30px;
                    }
                    .card-image:hover {
                        .card-image-hover {
                            background: url('../img/Overlay.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                            width: 150px;
                            height: 260px;
                            z-index: 1000;
                            @include media('<=phone') {
                                height: 200px;
                            }
                            &__cont {
                                display: flex;
                                justify-content: space-around;
                                align-self: center;
                                width: 150px;
                                margin-top: 10px;
                                &__first-zero {
                                    background: url('../img/Favourite.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                    width: 30px;
                                    height: 30px;
                                    margin-top: 45px;
                                }
                                &__second-zero {
                                    background: url('../img/Favourite.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                    width: 30px;
                                    height: 30px;
                                    margin-top: 45px;
                                }
                            }
                           
                        }
                    }
                    .card-image-2 {
                        background: url('../img/Image.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 150px;
                        height: 150px;
                        margin-bottom: 30px;
                    }
                    .card-image-2:hover {
                        .card-image-2-hover-2 {
                            background: url('../img/Overlay.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                            width: 150px;
                            height: 150px;
                            z-index: 1000;
                            &__cont {
                                display: flex;
                                justify-content: space-around;
                                align-self: center;
                                width: 150px;
                                margin-top: 10px;
                                &__first-zero {
                                    background: url('../img/Favourite.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                    width: 30px;
                                    height: 30px;
                                    margin-top: 45px;
                                }
                                &__second-zero {
                                    background: url('../img/Favourite.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                    width: 30px;
                                    height: 30px;
                                    margin-top: 45px;
                                }
                            }
                           
                        }
                    }
                    .card-image-3 {
                        background: url('../img/sandwich.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 150px;
                        height: 150px;
                        margin-bottom: 30px;
                    }
                    .card-image-3:hover {
                        .card-image-3-hover-3 {
                            background: url('../img/Overlay.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                            width: 150px;
                            height: 150px;
                            z-index: 1000;
                            &__cont {
                                display: flex;
                                justify-content: space-around;
                                align-self: center;
                                width: 150px;
                                margin-top: 10px;
                                &__first-zero {
                                    background: url('../img/Favourite.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                    width: 30px;
                                    height: 30px;
                                    margin-top: 45px;
                                }
                                &__second-zero {
                                    background: url('../img/Favourite.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                    width: 30px;
                                    height: 30px;
                                    margin-top: 45px;
                                }
                            }
                           
                        }
                    }
                    &-footer {
                        width: 250px;
                        height: 70px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h1 {
                            font-size: 20px;
                            font-family: $sans;
                            color: $black;
                        }
                        &__image-1 {
                            background: url('../img/squares.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 50px;
                            height: 17px;
                            margin-left: 7px;
                        }
                        &__image-2 {
                            background: url('../img/dollars.png');
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 49px;
                            height: 30px;
                            margin-top: 20px;
                        }
                    }
                }
                .card:nth-child(2) {
                    @include media('<=tablet') {
                        margin-top: 40px;
                    }
                    @include media('<=phone') {
                    margin-top: 40px;
                    }
                }
                .card:nth-child(3) {
                    @include media('<=tablet') {
                        margin-top: 40px;
                    }
                    @include media('<=phone') {
                    margin-top: 40px;
                    }
                }
            }
            &__counter {
                &__image {
                    background: url('../img/Arrows_Button.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 210px;
                    height: 100px;
                    position: absolute;
                    top: 81%;
                    right: 0;
                    @include media('<=tablet') {
                        top: 140%;
                    }
                    @include media('<=phone') {
                        position: absolute;
                        top: 190%;
                        right: -10%;
                    }
                }
            }
        }
        &__leaves {
            background: url('../img/leaves.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 114px;
            height: 80px;
            position: absolute;
            top: 13%;
            right: 15%;
            @include media('<=phone') {
                position: absolute;
                top: 23%;
                right: -10%;
                width: 94px;
                height: 60px;
            }
        }
    }
}