.section-header {
    height: 100vh;

    &-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        &__navbar {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &__logo {
                background: url('../img/figo.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 65px;
                height: 50px;
                margin-bottom: 3px;
                margin-right: 35px;
            }
            &__links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-basis: 25%;
                @include media('<=tablet') {
                    flex-basis: 50%;
                }
                &__link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 4px;
                    .image_singin {
                        background: url('../img/icon_sing_in.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 16px;
                        height: 15px;
                        margin-left: 25px;
                        margin-bottom: 4px;
                    }
                }
                &__link {
                    margin-left: 25px;
                    @include media('<=phone') {
                        display: none;
                        
                    }
                    a {
                        font-family: $sans;
                        font-size: 15px;
                        color: #8D8D8D;
                        text-decoration: none;
                    }
                    a:hover {
                        color: $black;
                    }
                }
                .menu-hamburger {
                    .toggle-links {
                        background-color: $green;
                        top: -140px;
                        left: 0;
                        z-index: -1;
                        position: absolute; 
                        visibility: hidden;
                        width: 100%;
                        transition: all ease .5s;
                        z-index: 1000;
                        
                        &-link:nth-child(4) {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .image_singin {
                                display: inline-block;
                                background: url('../img/icon_sing_in.png');
                                background-repeat: no-repeat;
                                background-size: contain;
                                width: 70px;
                                height: 15px;
                                margin-bottom: 4px;
                                margin-right: 270px;
                                color: #545454;
                            }
                        }
                        &-link {
                            width: 100%;
                            &:hover {
                                background-color: $black;
                                transition: color ease .25s;
                                a {
                                    color: white;
                                }
                            }
                            a {
                                display: inline-block;
                                padding: 15px;
                                color: #545454;
                                font-family: $sans;
                                font-size: 15px;
                                width: 100%;
                                text-decoration: none;
                            }
                        }
                    }
                }
    
                @include media('<=phone') {
                    .menu-hamburger {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        margin-left: 130px;
                        margin-top: 0;
    
                        &__button {
                            width: 30px;
                            height: 3px;
                            background-color: $black;
                            transition: all ease .5s;
    
                            &::before, &::after {
                                content: '';
                                position: absolute;
                                width: 30px;
                                height: 3px;
                                background-color: $black;
                                transition: all ease .5s;
    
                            }
    
                            &::before {
                                transform: translateY(-9px);
                            }
                            &::after {
                                transform: translateY(9px);
                            }
                        }
    
                        &.open {
                            .menu-hamburger__button {
                                transform: translateX(-35px);
                                background: transparent;
                            }
                            .menu-hamburger__button::before {
                                transform: rotate(45deg) translate(25px, -25px);
                            }
                            .menu-hamburger__button::after {
                                transform: rotate(-45deg) translate(25px, 25px);
                            }
                            .toggle-links {
                                top: 50px;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
        &__container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 90%;
            margin-bottom: 40px;
            @include media('<=tablet') {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 90%;
            }
            @include media('<=phone') {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 90%;
            }
            &__herobox {  
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 70%;
                width: 30%;
                margin-left: 155px;
                margin-top: 40px;
                @include media('<=tablet') {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 50%;
                    margin-left: 0;
                    margin-top: 80px;
                }
                @include media('<=phone') {
                    margin-left: 100px;
                    margin-top: 70px;
                }
                &__title {
                    @include media('<=tablet') {
                        width: 400px;
                    }
                    @include media('<=phone') {
                        width: 400px;
                    }
                    h1 {
                        font-family: $sans;
                        font-weight: bold;
                        color: #2C3722;
                        font-size: 50px;
                        @include media('<=phone') {
                            font-size: 40px;
                        }
                    }
                }
                &__subtitle {
                    @include media('<=tablet') {
                        width: 430px;
                    }
                    @include media('<=phone') {
                        width: 330px;
                        margin-right: 70px;
                    }
                    p {
                        font-family: $poppins;
                        font-size: 17px;
                        color: #636465;
                        margin-top: 25px;
                        @include media('<=tablet') {
                            font-size: 15px;
                        }
                        @include media('<=phone') {
                            font-size: 13px;
                            
                        }
                    }
                }
                &__form {
                    height: 100px;
                    width: 500px;
                    margin-top: 25px;
                   
                    input {
                        width: 250px;
                        height: 45px;
                        border: 1px #d1d1d1 solid;
                        border-radius: 5px;
                        text-indent: 15px;
                        @include media('<=tablet') {
                            margin-left: 50px;
                        }
                        @include media('<=phone') {
                            margin-left: 50px;
                            width: 190px;
                            height: 39px;
                        }
                    }
                    a {
                        background-color: $green;
                        color: white;
                        border-radius: 5px;
                        font-family: $poppins;
                        font-size: 14px;
                        border: $green 5px solid;
                        padding: 10px;
                        margin-left: 6px;
                        text-decoration: none;
                        margin-top: 30px;
                        @include media('<=phone') {
                            margin-right: 30px;
                            padding: 7px;
                        }
                    }
                }
            }
            &__image {
                background: url('../img/pizza.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 500px;
                height: 500px;
                margin-bottom: 20px;
                @include media('<=tablet') {
                    height: 600px;
                }
                @include media('<=phone') {
                    margin-left: 180px;
                    width: 550px;
                    height: 550px;
                }
            }
        }
    }
}
