.section-history {
    margin-top: 100px;
    height: 90vh;
    position: relative;
    @include media('<=tablet') {
        margin-top: 100%;
        height: 100vh;
    }
    @include media('<=phone') {
        height: 100vh;
    }
    &-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 90vh;
        width: 100%;
        @include media('<=tablet') {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include media('<=phone') {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__herobox {
            width: 50%;
            height: 100%;
            margin-right: 90px;
            @include media('<=tablet') {
                height: 70%;
                margin-top: 180px;
                margin-left: 40px;
            }
            @include media('<=phone') {
                margin-top: 320px;
            }
            &__title {
                width: 50%;
                h3 {
                    font-family: $lato;
                    font-size: 20px;
                    font-weight: lighter;
                    color: $yellow;
                    
                    @include media('<=phone') {
                        width: 300px;
                        margin-left: 50px;
                    }
                }
                h1 {
                font-family: $sans;
                font-weight: bold;
                color: #2C3722;
                font-size: 40px;
                margin-bottom: 30px;
                margin-top: 30px;
                @include media('<=tablet') {
                    width: 500px;
                }
                @include media('<=phone') {
                    font-size: 25px;
                    width: 300px;
                }
                }
            }
            &__subtitle {
                width: 80%;
                @include media('<=phone') {
                    width: 300px;
                }
                .first {
                    font-family: $poppins;
                    font-size: 17px;
                    color: #545454;
                    font-weight: lighter;
                    @include media('<=tablet') {
                        width: 400px;
                    }
                    @include media('<=phone') {
                        font-size: 10px;
                        margin-right: 25px;
                    }
                }
                .second {
                    font-family: $poppins;
                    font-size: 17px;
                    color: #545454;
                    margin-top: 30px;
                    font-weight: lighter;
                    @include media('<=tablet') {
                        width: 400px;
                    }
                    @include media('<=phone') {
                        font-size: 10px;
                        margin-right: 25px;
                    }
                }
            }
            &__calltoaction {
                margin-top: 60px;
                a {
                    background-color: $green;
                    color: white;
                    border-radius: 5px;
                    font-family: $poppins;
                    font-size: 14px;
                    border: $green 5px solid;
                    padding: 15px;
                    text-decoration: none;

                }
            }
        }
        &__bg {
            background: url('../img/BG.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 510px;
            height: 480px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 6%;
            @include media('<=tablet') {
                width: 450px;
                height: 415px;
                position: absolute;
                top: -25%;
                right: 20%;
            }
            @include media('<=phone') {
                width: 350px;
                height: 315px;
            }
            &__burger {
                background: url('../img/burger.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 438px;
                height: 438px;
                margin-bottom: 50px;
                @include media('<=tablet') {
                    width: 390px;
                    height: 390px;
                    margin-bottom: 30px;
                }
                @include media('<=phone') {
                    width: 290px;
                    height: 290px;
                    margin-bottom: 8px;
                }
            }
        }
        &__leaves {
            background: url('../img/bad_leaves.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 160px;
            height: 117px;
            position: absolute;
            top: 0;
            left: 7%;
            @include media('<=phone') {
                position: absolute;
                top: -10%;
                left: 2%;
                width: 110px;
                height: 87px;
            }
        }
    }
}