.section-subscription {
    height: 40vh;
    position: relative;
    @include media('<=tablet') {
        margin-top: 50%;
    }
    @include media('<=phone') {
        margin-top: 160%;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        
 
        &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                font-family: $lato;
                font-size: 20px;
                font-weight: lighter;
                color: $yellow;
            }
            h1 {
                font-family: $sans;
                font-weight: bold;
                color: #2C3722;
                font-size: 50px;
                margin-top: 18px;
                @include media('<=phone') {
                    width: 400px;
                    font-size: 30px;
                    margin-left: 65px;
                }
            }
        }
        &__form {
            width: 620px;
            height: 100px;
            margin-top: 30px;
            margin-left: 35px;
            display: flex;
            justify-content: flex-end;
            @include media('<=tablet') {
                margin-right: 10px;
            }
            &__a {
                height: 49px;
                width: 40px;
                background: url('../img/Arrow_Button.png');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 53%;
                left: 64%;
                @include media('<=tablet') {
                    top: 53%;
                    left: 78%;
                }
                @include media('<=phone') {
                    top: 50%;
                    left: 83%;
                }
            }
            input {
                margin-bottom: 2px;
                width: 510px;
                height: 37px;
                border: 1px #d1d1d1 solid;
                border-radius: 5px;
                text-indent: 15px;
                border-radius: 50px;
                margin-left: 25px;
                box-shadow: 0 3px 6px 0 rgba($color: #3D3636, $alpha: 0.35);
                margin-right: 65px;
                @include media('<=tablet') {
                    width: 510px;
                }
                @include media('<=phone') {
                    width: 320px;
                    height: 37px;
                    margin-right: 170px;
                }
            }
        }
        &__leaf {
            background: url(../img/leaf.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 75px;
            height: 91px;
            position: absolute;
            top: 20%;
            left: 10%;
            @include media('<=tablet') {
                top: 0;
                left: 3%;
            }
            @include media('<=phone') {
                top: 0;
                left: 10%;
                width: 55px;
                height: 71px;
            }
        }
        &__leaves {
            background: url(../img/leaves.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 100px;
            height: 116px;
            position: absolute;
            top: 40%;
            right: 10%;
            @include media('<=tablet') {
                top: 50%;
                right: 3%;
            }
            @include media('<=phone') {
                top: 60%;
                right: 5%;
                width: 85px;
                height: 101px;
            }
        }
    }
}